pkgbase = sccache-shims
	pkgdesc = Create sccache shims for every detected C/C++/CUDA compiler
	pkgver = 2.0
	pkgrel = 1
	arch = any
	license = MIT
	depends = sccache
	provides = sccache-shims
	options = !strip
	options = !debug
	source = make_shims.py
	sha256sums = SKIP

pkgname = sccache-shims
